[submodule "repository-mongodb"]
	path = repository-mongodb
	url = https://github.com/sfu-ireceptor/repository-mongodb
[submodule "service-js-mongodb"]
	path = service-js-mongodb
	url = https://github.com/sfu-ireceptor/service-js-mongodb.git
[submodule "dataloading-mongo"]
	path = dataloading-mongo
	url = https://github.com/sfu-ireceptor/dataloading-mongo.git
